<a href="https://colab.research.google.com/github/reidcr/Python-Pro-Bootcamp-Projects/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('salaries_by_college_major.csv')

In [4]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [5]:
df.shape

(51, 6)

In [6]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [8]:
df.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [9]:
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [10]:
clean_df = df.dropna()

In [11]:
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [12]:
clean_df['Starting Median Salary']

0     46000.0
1     57700.0
2     42600.0
3     36800.0
4     41600.0
5     35800.0
6     38800.0
7     43000.0
8     63200.0
9     42600.0
10    53900.0
11    38100.0
12    61400.0
13    55900.0
14    53700.0
15    35000.0
16    35900.0
17    50100.0
18    34900.0
19    60900.0
20    38000.0
21    37900.0
22    47900.0
23    39100.0
24    41200.0
25    43500.0
26    35700.0
27    38800.0
28    39200.0
29    37800.0
30    57700.0
31    49100.0
32    36100.0
33    40900.0
34    35600.0
35    49200.0
36    40800.0
37    45400.0
38    57900.0
39    35900.0
40    54200.0
41    39900.0
42    39900.0
43    74300.0
44    50300.0
45    40800.0
46    35900.0
47    34100.0
48    36500.0
49    34000.0
Name: Starting Median Salary, dtype: float64

In [13]:
clean_df['Starting Median Salary'].max()

74300.0

In [15]:
clean_df['Starting Median Salary'].idxmax()

43

In [16]:
clean_df['Undergraduate Major'].loc[43]

'Physician Assistant'

In [17]:
clean_df['Undergraduate Major'][43]

'Physician Assistant'

In [18]:
clean_df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

In [19]:
clean_df['Mid-Career Median Salary'].idxmax()

8

In [20]:
clean_df['Undergraduate Major'][8]

'Chemical Engineering'

In [22]:
clean_df.loc[8]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object

In [23]:
clean_df['Starting Median Salary'].idxmin()

49

In [24]:
clean_df.loc[49]

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

In [26]:
clean_df['Mid-Career Median Salary'].idxmin()

18

In [27]:
clean_df.loc[18]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

In [28]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']

In [29]:
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [30]:
low_risk = clean_df.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

In [31]:
high_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending = False)

In [32]:
high_potential.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
17,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business
22,Finance,147800.0,47900.0,88300.0,47200.0,195000.0,Business
8,Chemical Engineering,122100.0,63200.0,107000.0,71900.0,194000.0,STEM
37,Math,137800.0,45400.0,92400.0,45200.0,183000.0,STEM
44,Physics,122000.0,50300.0,97300.0,56000.0,178000.0,STEM

In [33]:
greatest_spread = clean_df.sort_values('Spread', ascending = False)

In [34]:
greatest_spread.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
17,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business
22,Finance,147800.0,47900.0,88300.0,47200.0,195000.0,Business
37,Math,137800.0,45400.0,92400.0,45200.0,183000.0,STEM
36,Marketing,132900.0,40800.0,79600.0,42100.0,175000.0,Business
42,Philosophy,132500.0,39900.0,81200.0,35500.0,168000.0,HASS

In [35]:
clean_df.groupby('Group').count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [36]:
clean_df.groupby('Group').mean()

<ipython-input-36-61aa9b47bd8a>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  clean_df.groupby('Group').mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,103958.333333,44633.333333,75083.333333,43566.666667,147525.000000
HASS,95218.181818,37186.363636,62968.181818,34145.454545,129363.636364
STEM,101600.000000,53862.500000,90812.500000,56025.000000,157625.000000

In [37]:
pd.options.display.float_format = '{:,.2f}'.format

In [38]:
clean_df.groupby('Group').mean()

<ipython-input-38-61aa9b47bd8a>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  clean_df.groupby('Group').mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"

In [39]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

URL = "https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/"

page = 1
total_ranks_list = []
total_major_list = []
total_early_pay_list = []
total_mid_pay_list = []
total_high_value_list = []

while page <= 34:
    response = requests.get(f"{URL}1")
    webpage = response.text
    soup = BeautifulSoup(webpage, 'html.parser')

    ranks = [rank.getText() for rank in soup.find_all(name='td', class_='csr-col--rank')]
    majors = [major.getText() for major in soup.find_all(name='td', class_='csr-col--school-name')]
    career_pays = [career_pay.getText() for career_pay in soup.find_all(name='td', class_='csr-col--right')]

    rank_list = [rank.split(':')[1] for rank in ranks]
    major_list = [major.split(':')[1] for major in majors]

    early_pay_list = []
    mid_pay_list = []
    high_meaning_list = []

    for entry in career_pays:
        if entry.split(":")[0] == "Early Career Pay":
            early_pay_list.append(entry.split(":")[1])
        elif entry.split(":")[0] == "Mid-Career Pay":
            mid_pay_list.append(entry.split(":")[1])
        else:
            high_meaning_list.append(entry.split(":")[1])

    total_ranks_list.append(rank_list)
    total_major_list.append(major_list)
    total_early_pay_list.append(early_pay_list)
    total_mid_pay_list.append(mid_pay_list)
    total_high_value_list.append(high_meaning_list)

    page += 1

list_to_csv = []

for x in range(34):
    for y in range(24):
        data_to_csv = [total_ranks_list[x][y], total_major_list[x][y], total_early_pay_list[x][y],
                       total_mid_pay_list[x][y], total_high_value_list[x][y]]
        list_to_csv.append(data_to_csv)

df = pd.DataFrame(list_to_csv,
                  columns=['Rank', 'Major', 'Early Pay', 'Mid Pay', 'High Value'])
df.to_csv('highest_paying_jobs_updated.csv', index=False)

In [40]:
df_updated = pd.read_csv('highest_paying_jobs_updated.csv')

In [41]:
df_updated.head()

,Rank,Major,Early Pay,Mid Pay,High Value
0,1,Petroleum Engineering,"$93,200","$187,300",67%
1,2,Operations Research & Industrial Engineering,"$84,800","$170,400",28%
2,3,Electrical Engineering & Computer Science (EECS),"$108,500","$159,300",46%
3,4,Interaction Design,"$68,300","$155,800",55%
4,5,Public Accounting,"$59,800","$147,700",47%

In [42]:
df_updated.all()

Rank          True
Major         True
Early Pay     True
Mid Pay       True
High Value    True
dtype: bool

In [43]:
df_updated

,Rank,Major,Early Pay,Mid Pay,High Value
0,1,Petroleum Engineering,"$93,200","$187,300",67%
1,2,Operations Research & Industrial Engineering,"$84,800","$170,400",28%
2,3,Electrical Engineering & Computer Science (EECS),"$108,500","$159,300",46%
3,4,Interaction Design,"$68,300","$155,800",55%
4,5,Public Accounting,"$59,800","$147,700",47%
...,...,...,...,...,...
811,20,Actuarial Science,"$67,700","$134,400",43%
812,21,Political Economy,"$65,100","$133,500",29%
813,22,Computer Systems Engineering,"$79,000","$133,200",51%
814,23,Electrical & Computer Engineering (ECE),"$78,100","$131,600",49%
815,24,Computer Science (CS) & Engineering,"$79,400","$131,300",44%